{% extends 'base_accounts.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block body %}
<div class="content">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-md-8">
		  <div class="card">
			<div class="card-header card-header-primary">
				<h4 class="card-title">Coaching ContactUs</h4>
			  <p class="card-category">Update Your Coaching Contact Us Information</p>
			</div>
			<div class="card-body">
			  <form method="post" action="/account/econtactus/">
					<div class="row">
							<div class="col-md-12">
							<div class="form-group">
								<div class="form-group">
								{% csrf_token %}
								{{ form|crispy }}
								</div>
							</div>
							</div>
						</div>
				<button type="submit" class="btn btn-primary pull-right">Submit</button>
				<div class="clearfix"></div>
				</form>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	</div>
{% endblock %}