{% extends 'base_accounts.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block head %}
	<title>Success</title>
{% endblock %}

{% block body %}
    <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">You Have Successfully Logged Out</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
{% endblock %}