{% extends 'base_accounts.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block body %}

<div class="content">
    <div class="container-fluid">
 
        <div class="col-md-4">
          <div class="card card-profile">
            <div class="card-body">
              <h6 class="card-category text-gray">CEO / Co-Founder</h6>
              <h4 class="card-title">{{username}}</h4>
              <p class="card-description">
                Email: {{email}}
              </p>
              <a href="#" class="btn btn-primary btn-round">Edit</a>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}