{% extends 'base.html' %}
{% load static %}

{% block body %}
<link rel="stylesheet" href="{% static 'edu/assets/css/custom.css' %}">
<header id="head" class="secondary">
	<div class="container">
		<h1>Courses</h1>
		<p>List of Courses offered by us</p>
	</div>
</header>
<br>
<div class="container">
	<div class="row">
		<div class="col-md-2 col-lg-2 col-ms-12">
			<ul class="nav navbar-nav navbar-default">
				{% for key, values in result.courses.items %}
				<li class="nav-item"><a class="nav-link" href="#{{key}}">{{key}}</a></li> <br>
				{% endfor %}
			</ul>
		</div>
		<div class="col-md-10 col-lg-10 col-ms-12">
			{% for key, values in result.courses.items %}
			<div id="{{key}}" class="caption">{{key}}</div>	
			<table class="table table-bordered table-striped table-hover course-table">
				<thead>
					<tr class="header-row">
						<th class="col-md-1 col-lg-1 col-ms-1">#</th>
						<th class="col-md-9 col-lg-9 col-ms-9">Chapter</th>
					</tr>
				</thead>
				<tbody>
					{% for value in values %}
					<tr>
						<td class="col-md-1 col-lg-1 col-ms-1">{{forloop.counter}}</td>
						<td class="col-md-9 col-lg-9 col-ms-9">{{value}}</td>
					</tr>
					{% endfor %}      
				</tbody> 
			</table>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}