{% extends 'base.html' %}
{% load static %}

{% block body %}
	<!-- Header -->
	<header id="head">
		<div class="container">
             <div class="heading-text">							
							<h1 class="animated flipInY delay1">{{result.home.image_txt_1}}</h1>
							<p>{{result.home.image_txt_2}}</p>
						</div>
            
					<div class="fluid_container">                       
                    <div class="camera_wrap camera_emboss pattern_1" id="camera_wrap_4">
                        <div data-thumb="{% static 'edu/assets/images/slides/thumbs/img1.jpg' %}"  data-src="{% static 'edu/assets/images/slides/img1.jpg' %}">
                        </div> 
                        <div data-thumb="{% static 'edu/assets/images/slides/thumbs/img2.jpg' %}" data-src="{% static 'edu/assets/images/slides/img2.jpg' %}">
                        </div>
                        <div data-thumb="{% static 'edu/assets/images/slides/thumbs/img3.jpg' %}" data-src="{% static 'edu/assets/images/slides/img3.jpg' %}">
                        </div> 
                    </div><!-- #camera_wrap_3 -->
                </div><!-- .fluid_container -->
		</div>
	</header>
	<!-- /Header -->

  <div class="container">
    <div class="row">
					<div class="col-md-3">
						<div class="grey-box-icon">
							<div class="icon-box-top grey-box-icon-pos">
								<img src="{% static 'edu/assets/images/1.png' %}" alt="" />
							</div><!--icon box top -->
							<h4>Courses</h4>
							<p>{{result.home.courses}}</p>
     						<p><a href="?ask=courses"><em>Read More</em></a></p>
						</div><!--grey box -->
					</div><!--/span3-->
					<div class="col-md-3">
						<div class="grey-box-icon">
							<div class="icon-box-top grey-box-icon-pos">
								<img src="{% static 'edu/assets/images/2.png' %}" alt="" />
							</div><!--icon box top -->
							<h4>Our Staff</h4>
							<p>{{result.home.our_staff}}</p>
     						<p><a href="?ask=about#staff"><em>Read More</em></a></p>
						</div><!--grey box -->
					</div><!--/span3-->
					<div class="col-md-3">
						<div class="grey-box-icon">
							<div class="icon-box-top grey-box-icon-pos">
								<img src="{% static 'edu/assets/images/3.png' %}" alt="" />
							</div><!--icon box top -->
							<h4>Latest Updates</h4>
							<p>{{result.home.latest_updates}}</p>
     						<p><a href="#"><em>Read More</em></a></p>
						</div><!--grey box -->
					</div><!--/span3-->
					<div class="col-md-3">
						<div class="grey-box-icon">
							<div class="icon-box-top grey-box-icon-pos">
								<img src="{% static 'edu/assets/images/4.png' %}" alt="" />
							</div><!--icon box top -->
							<h4>Placements</h4>
							<p>{{result.home.placements}}</p>
     						<p><a href="#"><em>Read More →</em></a></p>
						</div><!--grey box -->
					</div><!--/span3-->
				</div>
    </div>
      <section class="news-box top-margin">
        <div class="container">
            <h2><span>Up Coming Classes</span></h2>
            <div class="row">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                        
<!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        {% for data in result.courses %}
                        {% if forloop.counter == 1%}
                            <div class="item active">
                        {% else %}
                        <div class="item">
                        {% endif %}
                            <img src="{% static 'edu/assets/images/new-courses-2.jpeg' %}">
                            <div class="carousel-caption">
                                <h3>{{data.title}}</h3>
                                <h4>{{data.message}}</h4>
                            </div>
                        </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
  
	
      <section class="container">
      <div class="row">
      	<div class="col-md-8"><div class="title-box clearfix "><h2 class="title-box_primary">About Us</h2></div> 
        <p><span>{{result.aboutus}}</span></p>
        <a href="?ask=about" title="read more" class="btn-inline " target="_self">read more</a> </div>
              
          
          <div class="col-md-4"><div class="title-box clearfix "><h2 class="title-box_primary">Latest News</h2></div> 
            <div class="list styled list-spaces">
            <ul>
                {% for data in result.news %}
                <li><a href="#">{{data.title}}</a><br>
                    <span class="small text-muted">{{data.message}}</span>
                </li>
                {% endfor %}
             </ul>
            </div>
         </div>
      </div>
      </section>
{% endblock %}
