{% extends 'base.html' %}
{% load static %}

{% block body %}
<header id="head" class="secondary">
    <div class="container">
        <h1>Our Price</h1>
        <p>Price detail of the courses offered by us</p>
    </div>
</header>


	<!-- container -->
	<div class="container">
		<div class="row">
			<!-- Article content -->
			<section class="col-sm-12 maincontent">
				<h3>Cost</h3>
				<p>
					Our coaching is the best coaching in the city. Below we have listed price of the courses
					If you are not happy with the price you can contact us. we will be to help you.
				</p>

			</section>
		</div>
	</div>
	<!-- /container -->

	<section class="container">
		<div class="row flat">
			{% for key, value in result.price.items %}
			<div class="col-lg-3 col-md-3 col-xs-6">
				<ul class="plan plan1">
					<li class="plan-name">{{key}}</li>
					<li class="plan-price"><strong><h4>{{value}}</h4></strong> INR</li>
				</ul>
			</div>
			{% endfor %}	
		</div>
	</section>
	{% endblock %}